html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

a {
  text-decoration: none;
}

.box {
  background-color: #f2f2f2;
  border-radius: 15px;
  max-width: 75vw;
  align-self: flex-start;
}

.container {
  flex-wrap: wrap;
}

#content {
  padding-block: 10px;
}

/* no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.items {
  display: flex;
  align-items: stretch;
}

.names {
  text-align: center;
}

.card {
  min-width: 250px;
  padding-top: 20px;
}

.art-track-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: min(80%, 200px);
  max-height: min(80%, 200px);
  object-fit: contain;
}

.spotify-logo {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}