{% extends "base.html" %}
{% block title %}Recommendations{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% for track in recommendations %}
      <div class="col pb-2 mb-3 m-2 card text-center">
        <img class="art-track-pic my-3 card-img-top" src="{{ track['album']['images'][0]['url'] }}" loading="lazy">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ track['external_urls']['spotify'] }}">{{ track["name"] }}</a> {% if track["explicit"] %}🅴{% endif %}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {% for a in track["artists"] %}
                {{ a["name"] }}{% if not loop.last %}{{", "}}{% endif %}
            {% endfor %}<br>
            on {{ track["album"]["name"] }}
          </h6>
          <p class="card-text">
            <span class="duration">{{ track["duration_ms"] }}</span> duration
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}